beautifulsoup4==4.12.2
chardet==5.0.0
html2text==2020.1.16
jieba==0.42.1
lxml==4.9.1
parsel==1.7.0
Pillow==9.5.0
pyapollos==0.1.5
pyquery==2.0.0
python_frontmatter==1.0.0
qiniu==7.10.0
requests==2.28.1
tomd==0.1.3
